[*.cs]
dotnet_analyzer_diagnostic.category-ImmutableVariable.severity = silent
dotnet_diagnostic.SMA0060.severity = silent
dotnet_diagnostic.SMA0061.severity = silent
dotnet_diagnostic.SMA0062.severity = silent
dotnet_diagnostic.SMA0063.severity = silent
dotnet_diagnostic.SMA0064.severity = silent
dotnet_diagnostic.SMA0065.severity = silent
dotnet_diagnostic.SMA0066.severity = silent
dotnet_diagnostic.SMA0067.severity = silent
dotnet_diagnostic.SMA0068.severity = silent
dotnet_diagnostic.SMA0069.severity = silent
