[*.{cs,vb}]

dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.CS0168.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA1825.severity = none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.CS0219.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.IDE0251.severity = none
