name: build & nuget push (resource update required)

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      confirmed:
        type: boolean
        default: false
        required: false
        description: |
          1) Should run 'resource update' action BEFORE running this action.
          2) After PR merged, create GitHub release BEFORE publishing.

env:
  push_source: 'StaticMemberAnalyzer.Package/bin/Release/*.nupkg'

jobs:

  # 'workflow_call' action must have no steps!
  build:
    if: github.event_name == 'release' || inputs.confirmed

    permissions:
      contents: write
      pull-requests: write

    uses: ./.github/workflows/resource-update.yml
    secrets: inherit

  nuget:
    needs: build
    if: success()

    runs-on: ubuntu-latest

    permissions:
      id-token: write  # enable GitHub OIDC token issuance for this job
      contents: read   # required for private repo

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: ${{ needs.build.outputs.artifact_name }}
        path: src

    ################################
    #  NUGET
    - name: Trusted Publishing (id-token permission required)
      uses: NuGet/login@v1
      id: login  # --> ${{ steps.login.outputs.NUGET_API_KEY }}
      with:
        user: ${{ secrets.NUGET_LOGIN }}

    - name: NuGet push
      run: |
        cd src
        dotnet nuget push "${{ env.push_source  }}"  \
          -k ${{ steps.login.outputs.NUGET_API_KEY }}  \
          -s https://api.nuget.org/v3/index.json \
          --timeout 60
